extends ./partial/layout.pug
block css
	link(href='./index.css' rel='stylesheet')
block js
	script(src="./index.js")
block content
	.index
		h1 首页
		p.append 已为您推荐如下好物
		.shopping-pos
		ul.good-list
			li
				.img-wrap
					img(src='./img/good2.jpg')
				.good-info
					h2 Apple iPad Pro 11英寸平板电脑 020年新款(256G WLAN版/全面屏)
					p.price 价格&nbsp;
						span ¥1999
					.primary-btn 立即抢购
			li
				.img-wrap
					img(src='./img/good2.jpg')
				.good-info
					h2 Apple iPad Pro 11英寸平板电脑 020年新款(256G WLAN版/全面屏)
					p.price 价格&nbsp;
						span ¥1999
					.primary-btn 立即抢购
			li
				.img-wrap
					img(src='./img/good2.jpg')
				.good-info
					h2 Apple iPad Pro 11英寸平板电脑 020年新款(256G WLAN版/全面屏)
					p.price 价格&nbsp;
						span ¥1999
					.primary-btn 立即抢购
			li
				.img-wrap
					img(src='./img/good2.jpg')
				.good-info
					h2 Apple iPad Pro 11英寸平板电脑 020年新款(256G WLAN版/全面屏)
					p.price 价格&nbsp;
						span ¥1999
					.primary-btn 立即抢购
		.footer-pos
	.shopping 正在抢购 14:20
	+pagenav(0)