extends ./layout.pug
block css
    link(href='./base.min.css' rel='stylesheet')
    link(href='./index.min.css' rel='stylesheet')
block js
    script(src="./index.min.js")
block content    
    header.en
        .logo
        nav
            ul#nav
                li
                    a(href="#header") Homepage
                li 
                    a(href="#service") Service introduction
                li
                    a(href="#driver") Be a driver
                li
                    a(href="#contact") Contact us
        .version
            select#version
                option(value="1") 中 文
                option(value="2" selected) English
    .pos#header
    .content.en
        .banner#banner
            h1
                span.title One Minute
                span.desc Run Errands
            p The best city run errands and international logistic platform in Vancouver
            .btn#order I want to order
        .duty
            .left
            .right
            h2
                p One Minute mission
            p.sub A magic way for lazy people; arrive in 50min; satisfy any users’ needs without going out.
            p.txt With the idea of sharing labor force and crowdsourcing, everyone can become a driver, provide multiple instant services for surrounding people, including buying, delivering, taking and handling, and offer safe and professional high-end distribution services for SMEs, e-commerce and local merchants.
        .service#service
            h2
                p One Minute services
            .wrap
                .inner
                    .item
                        .icon
                            i
                            p Agent buying
                        .con
                        ul.list
                            li Cosmetic department
                            li Fresh food
                            li Tobacco and wine
                            li Coffee
                            li Drug
                            li … …
                    .item
                        .icon
                            i
                            p Agent taking
                        .con
                        ul.list
                            li File documents
                            li Flowers and cakes
                            li Valuables
                            li Fresh agricultural products
                            li Keys
                            li … …
                    .item
                        .icon
                            i
                            p Agent sending
                        .con
                        ul.list
                            li Articles of daily use
                            li Office supplies
                            li Seafood aquaculture
                            li Drug
                            li Bill
                            li … …
                    .item
                        .icon
                            i
                            p Pickup
                        .con
                        ul.list
                            li Carry with pets
                            li In-vehicle songs
                            li Awarded activities
                            li … …
        .user 
            h2
                p One Minute user manual
            .wrap
                .inner
                    .item
                        i
                        p.title Open
                        p.title One minute
                        .hr
                        p.first WeChat App
                    .arrow
                    .item
                        i
                        p.title Select
                        p.title leg work business
                        .hr
                        p Agent buying, agent taking, agent sending, pickup and intercity distribution
                    .arrow
                    .item
                        i
                        p.title Input
                        p.title service site
                        .hr
                        p Remark your special needs or service details
                    .arrow
                    .item
                        i
                        p.title Order
                        p.title and pay off fees
                        .hr
                        p The system automatically pushes an order to pick up an order within 60min.
                    .arrow
                    .item
                        i
                        p.title(style="padding-top:0;") The driver receives an order to start providing services.
                        .hr(style="margin-top:18px;")
                        p The driver’s door-to-door one-to-one service
        .driver
            h2
                p#driver One Minute driver’s service process
            ul#driverSer
                li.active(data-i="0") Agent buying service
                li(data-i="1") Agent taking service
                li(data-i="2") Agent sending service
                li(data-i="3") Pickup services
            .wrap#driverCon
                .inner(class="active")
                    .item
                        .img
                            img(src="./img/one.png")
                            i 1
                        .bot
                            p Contact with the order placer and confirm the purchasing site and requirements
                    .item
                        .img
                            img(src="./img/dm2.png")
                            i 2
                        .bot
                            p Go to the assigned site to purchase and claim for the shopping receipt
                    .item
                        .img
                            img(src="./img/dm3.png")
                            i 3
                        .bot
                            p After successful purchasing, check the order and confirm the place of receipt
                    .item
                        .img
                            img(src="./img/four.png")
                            i 4
                        .bot
                            p Go to the place of receipt and complete an order after gaining the confirmation code
                .inner
                    .item
                        .img
                            img(src="./img/one.png")
                            i 1
                        .bot
                            p Contact with the order placer and confirm the pickup site and requirements
                    .item
                        .img
                            img(src="./img/dq2.png")
                            i 2
                        .bot
                            p Go to the place of receipt to take articles
                    .item
                        .img
                            img(src="./img/dq3.png")
                            i 3
                        .bot
                            p After taking goods, check the order and confirm the place of receipt
                    .item
                        .img
                            img(src="./img/four.png")
                            i 4
                        .bot
                            p Go to the place of receipt and complete the order after gaining the confirmation code
                .inner
                    .item
                        .img
                            img(src="./img/one.png")
                            i 1
                        .bot
                            p Contact with the order placer and confirm place of receipt and requirements
                    .item
                        .img
                            img(src="./img/dq2.png")
                            i 2
                        .bot
                            p Go to the site of taking goods and take articles
                    .item
                        .img
                            img(src="./img/dq3.png")
                            i 3
                        .bot
                            p After taking goods, check the order and confirm the place of receipt
                    .item
                        .img
                            img(src="./img/four.png")
                            i 4
                        .bot
                            p Go to the place of receipt and complete the order after gaining the confirmation code
                .inner
                    .item
                        .img
                            img(src="./img/one.png")
                            i 1
                        .bot
                            p Contact with the order placer and confirm point of departure
                    .item
                        .img
                            img(src="./img/js2.png")
                            i 2
                        .bot
                            p Go to the point of departure and pick up a passenger
                    .item
                        .img
                            img(src="./img/js3.png")
                            i 3
                        .bot
                            p After picking up the passenger, check the order and confirm the destination
                    .item
                        .img
                            img(src="./img/js4.png")
                            i 4
                        .bot
                            p Go to the destination and complete the order
            .btn#become Be a driver
        .code
            .wrap
                .item
                    p Client App
                    .img
                        img(src="./img/code.png")
                .item
                    p Driver APP(Android)
                    .img
                        img(src="./img/code.png")
                .item
                    p Driver APP(Ios)
                    .img
                        img(src="./img/code.png")
        .contact#contact 
            h2
                p Contact us
            p.sub No matter you are a merchant, driver or a user, you can contact with online customer service or us by telephone and e-mail.
            .wrap
                .left
                    p 24h hotline: (778)9268513
                    p E-mail: oneminutedliverycs@gmail.com
                    p.line Online customer service
                    .img
                        img(src="./img/code.png")
                ul.right
                    li I want to be a partner, because One Minute can propagandize and popularize for me.
                    li I want to be a driver, because One Minute can provide considerable incomes for me.
                    li I want to be a member, because One Minute’s services are so sweet!
    footer Copyright
    .modal
    .order
        .close ×
        .logo
        .max
            .img
                img(src="./img/code.png")
            .wrap.en
                p.title Scan QR code in the left by WeChat
                p.sub select the required service to order.
        .sm
            p Search for “One Minute” by WeChat App or
            p click official account [I want to order],
            p and select the necessary services to start ordering
    .become
        .close ×
        .logo
        .inner
            .body
                .item
                    .step
                        .inner
                            p.num 01
                            p step
                    i
                    p.desc To be a driver by telephone or e-mail
                    p.desc Tel.: (778)9268513
                    p.desc E-mail: oneminutedeliverycs@gmail.com

                .item
                    .step
                        .inner
                            p.num 02
                            p step
                    i
                    p.desc The platform will arrange offline training 
                    p.desc after analyzing the applicant
                .item
                    .step
                        .inner
                            p.num 03
                            p step
                    i
                    p.desc After signature, distribute the driver’s account;
                    p.desc the applicant can download App to pick up an order.