$minWidth:320px;
@mixin line($color:#ddd,$width:46px,$pos:-80px) {
  position: relative;
  &:before{
    position: absolute;
    content: "";
    left: $pos;
    top: 50%;
    width: $width;
    border-top: 1px solid $color;
  }
  &:after{
    position: absolute;
    content: "";
    right: $pos;
    top: 50%;
    width: $width;
    border-top: 1px solid $color;
  }
}
@mixin sm {
  @media screen and (max-width: 768px){
    @content;
  }
}


header{
  position: fixed;
  z-index: 98;
  background: #1A1A1A;
  width: 100%;
  height: 60px;
  min-width: $minWidth;
  .logo{
    position: absolute;
    width: 180px;
    height: 94px;
    left: 32px;
    top: 0;
    background-image: url(./img/logo.png);
    background-position: 50%;
    background-size: cover;
  }
}
.pos{
  height: 60px;
}

.version{
  position: absolute;
  right: 32px;
  top: 20px;
  padding-right: 24px;
  &:after{
    position: absolute;
    right:10px;
    top: 8px;
    content:"";
    border-width: 4px;
    border-style: solid;
    border-color: #fff transparent transparent transparent;
  }
  select{
    width: 50px;
    background:inherit;
    outline: none;
    border: none;
    color: #fff;
    cursor: pointer;
  }
  a{
    display: block;
    color: #fff;
  }
}
nav{
  margin: 0 auto;
  padding-left: 320px;
  @include sm(){
    display: none;
  }
  ul{
    display: flex;
    justify-content: space-between;
    width: 400px;
    .en & {
      width: 460px;
    }
    @media screen and (max-width: 900px){
      margin-left: -80px;
      .en & {
        margin-left: -100px;
      }
    }
  }
  li{
    display: inline-block;
    .en &:nth-child(2) a.active:before{
      width: 140px;
      margin-left: -70px;
    }
    a{
      display: block;
      position: relative;
      box-sizing: border-box;
      height: 60px;
      line-height: 60px;
      // padding: 0 32px;
      color: #fff;
      &:hover{
        opacity: .7;
      }
      &.active:before{
        position: absolute;
        content: " ";
        bottom: 0;
        opacity:1;
        left: 50%;
        margin-left: -40px;
        width: 80px;
        height: 4px;
        border-radius: 2px;
        background: #84D7CF;
      }
    }
  }
}
.content{
  width: 100%;
  min-width: $minWidth;
  overflow: hidden;
  max-width: 1920px;
  margin: 0 auto;
  // overflow: hidden;
}
.banner{
  height: 596px;
  background-image: url(./img/banner.jpg);
  background-position: 50%;
  background-size: cover;
  text-align: center;
  h1{
    margin: 0;
    padding-top: 130px;
    font-size: 78px;
    color: #84D7CF;
    line-height: 1.2;
    @include sm(){
      font-size: 50px;
      span{
        display: block;
      }
    }
    .desc{
      opacity: 0.7;
      padding-left: 10px;
      font-weight: normal;
      font-size: 18px;
      color: #84D7CF;
    }
  }
  p{
    margin: 0;
    font-size: 33px;
    color: #FFFFFF;
    padding: 0 20px;
    box-sizing: border-box;
    @include sm(){
      font-size: 20px;
      line-height: 2;
    }
  }
  .btn{
    margin-top: 120px;
    display: inline-block;
    width: 328px;
    height: 72px;
    line-height: 72px;
    background: rgba(132,215,207,0.12);
    border: 1px solid #84D7CF;
    border-radius: 4px;
    font-size: 30px;
    color: #84D7CF;
    font-weight: lighter;
    cursor: pointer;
    @include sm(){
      width: 300px;
      font-size: 24px;
    }
    &:hover{
      opacity: .7;
    }
  }
}
.duty{
  position: relative;
  text-align: center;
  @include sm(){
    display: none;
  }
  .left{
    position: absolute;
    left: 0;
    height: 520px;
    width: 500px;
    background-image: url(./img/left.png);
    background-repeat: no-repeat;
  }
  .right{
    position: absolute;
    right: 0;
    height: 520px;
    width: 300px;
    background-image: url(./img/right.png);
    background-repeat: no-repeat;
  }
  h2{
    margin: 0;
    p{
      @include line;
      margin: 110px 0 88px;
      display: inline-block;
      font-size: 30px;
      color: #1A1A1A;
    }
  }
  .sub{
    margin: 0;
    font-size: 18px;
    color: #252525;
    padding: 0 20px;
    box-sizing: border-box;
  }
  .txt{
    display: inline-block;
    box-sizing: border-box;
    margin: 48px 0 150px;
    max-width: 940px;
    font-size: 16px;
    color: #525968;
    line-height: 30px;
    padding: 0 20px;
  }
}

.service{
  position: relative;
  height: 670px;
  background-image: url(./img/bg.jpg);
  background-position: 50%;
  background-size: cover;
  text-align: center;
  h2{
    margin: 0;
    p{
      font-size: 30px;
      color: #FFF;
      margin: 96px 0 48px;
      display: inline-block;
      font-size: 30px;
      @include line(#80848F);
    }
  }
  .wrap{
    overflow-x: auto;
    max-width: 1200px;
    margin: 0 auto;
    .inner{
      width: 1200px;
      display: flex;
      justify-content: space-between;
      @include sm(){
        padding:0 10px 30px;
      }
    }
    .item{
      position: relative;
      min-width: 180px;
      &:nth-child(1) i{
        background-image: url(./img/cart.png);
      }
      &:nth-child(2) i{
        background-image: url(./img/qh.png);
      }
      &:nth-child(3) i{
        background-image: url(./img/ps.png);
      }
      &:nth-child(4) i{
        background-image: url(./img/js.png);
      }
      .icon{
        text-align: center;
        i{
          display: inline-block;
          width: 56px;
          height: 56px;
          border: 1px solid #FFF;
          border-radius: 50%;
          background-repeat: no-repeat;
          background-position: 50%;
        }
      }
      p{
        font-size: 18px;
        color: #FFFFFF;
      }
      .con{
        position: absolute;
        width: 216px;
        height: 300px;
        opacity: 0.1;
        background: #FFF;
        border-radius: 4px;
      }
      .list{
        box-sizing: border-box;
        margin: 0 2px;
        width: 216px;
        height: 300px;
        padding: 24px 0;
        li{
          color: #FFF;
          text-align: center;
          line-height: 40px;
        }
      }
    }
  }
}

.user{
  text-align: center;
  h2{
    margin: 0;
    p{
      display: inline-block;
      margin: 110px auto 80px;
      font-size: 30px;
      color: #1A1A1A;
      @include line;
      @include sm(){
        font-size: 24px;
      }
    }
  }
  .wrap{
    overflow-x: auto;
    max-width: 1200px;
    margin: 0 auto;
    .inner{
      width: 1200px;
      display: flex;
      justify-content: space-between;
      @include sm(){
        padding:0 10px 30px;
      }
    }
    .arrow{
      width: 38px;
      height: 22px;
      margin-top: 138px;
      background-image: url(./img/arrow.png);
      background-position: 50%;
    }
    .item{
      box-sizing: border-box;
      width: 174px;
      min-width: 160px;
      height: 276px;
      padding: 15px;
      margin: 0 20px;
      background: #FFFFFF;
      border: 1px solid #E1E7F4;
      box-shadow: 0 0 6px 0 rgba(225,231,244,0.53);
      border-radius: 4px;
      overflow: hidden;
      .en & {
        height: 324px;
      }
      i{
        display: inline-block;
        margin-top: 34px;
        margin-bottom: 30px;
        width: 56px;
        height: 54px;
        background-repeat: no-repeat;
        background-position: 50%;
        .en & {
          margin-top: 20px;
          margin-bottom: 20px;
        }
      }
      &:nth-child(1) i{
        background-image: url(./img/logo2.png);
        background-size: contain;
        width: 80px;
      }
      &:nth-child(3) i{
        background-image: url(./img/service.png);
      }
      &:nth-child(5) i{
        background-image: url(./img/location.png);
      }
      &:nth-child(7) i{
        background-image: url(./img/order.png);
      }
      &:nth-child(9) i{
        background-image: url(./img/car.png);
      }
      p{
        margin: 0;
        line-height: 1.5;
      }
      .first{
        padding-top: 10px;
        .en &{
          padding-top: 30px;
        }
      }
      .title{
        font-size: 16px;
        color: #485060;
        .en &:nth-of-type(1){
          padding-top: 20px;
        }
      }
      .hr{
        margin-top: 20px;
        margin-bottom: 10px;
        width: 100%;
        border-top: 1px solid #E1E7F4;
      }
    }
  }
}
.driver{
  text-align: center;
  h2{
    margin: 0;
    p{
      display: inline-block;
      margin: 150px auto 58px;
      font-size: 30px;
      color: #1A1A1A;
      @include line;
      @include sm(){
        font-size: 24px;
      }
    }
  }
  ul{
    li{
      display: inline-block;
      padding: 6px 30px;  
      margin: 0 22px;
      border-radius: 16px;
      cursor: pointer;
      .en &{
        margin: 0 5px;
      }
      @include sm(){
        margin: 0 5px;
        padding: 5px 8px;
      }
      &:hover{
        opacity: .7;
      }
      &.active{
        background: #84D7CF;
        color: #fff;
      }
    }
  }
  .wrap{
    overflow-x: auto;
    max-width: 1200px;
    margin: 40px auto 50px;
    .inner{
      display: none;
      width: 1200px;
      justify-content: space-between;
      opacity: 0;
      transition: opacity .6s ease-in-out;
      &.active{
        display: flex;
        opacity: 1;
      }
      @include sm(){
        padding:0 10px 30px;
      }
    }
    .item{
      width: 270px;
      min-width: 180px;
      height: 402px;
      background: #FFFFFF;
      border: 1px solid #E7ECF6;
      border-radius: 4px;
      overflow: hidden;
      .en &{
        height: 412px;
      }
      .img{
        position: relative;
        width: 270px;
        height: 288px;
        img{
          width: 100%;
          height: 100%;
        }
      }
      .bot{
        box-sizing: border-box;
        height: 114px;
        padding-top: 50px;
        border-top: none;
      }
      i{
        position: absolute;
        left: 50%;
        margin-left: -24px;
        bottom: -24px;
        line-height: 2;
        width: 48px;
        height: 48px;
        font-style: normal;
        font-size: 24px;
        color: #84D7CF;
        background: #1A1A1A;
        border-radius: 50%;
      }
      p{
        margin: 0;
      }
    }
  }
  .btn{
    display: inline-block;
    width: 328px;
    height: 70px;
    margin-bottom: 110px;
    line-height: 70px;
    background: #1A1A1A;
    border-radius: 4px;
    font-size: 30px;
    color: #FFF;
    font-weight: lighter;
    cursor: pointer;
    @include sm(){
      width: 300px;
      font-size: 24px;
    }
    &:hover{
      opacity: .7;
    }
  }
}
.code{
  text-align: center;
  background: #F9FAFE;
  padding: 70px 0;
  box-sizing: border-box;
  @include sm(){
    display: none;
  }
  .wrap{
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    @include sm(){
      flex-flow: column wrap;
      align-content: center;
    }
    .item{
      p{
        margin: 30px 0;
        font-size: 16px;
        color: #1A1A1A;
      }
      .img{
        width: 250px;
        height: 250px;
        margin: 10px;
        img{
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}

.contact{
  text-align: center;
  opacity: 0.89;
  background: #1C1C1C;
  background-image: url(./img/bg2.jpg);
  background-size: cover;
  background-position: 50%;
  h2{
    margin: 0;
    p{
      display: inline-block;
      margin: 96px auto 16px;
      font-size: 30px;
      color: #fff;
      @include line(#80848F);
    }
  }
  .sub{
    opacity: 0.7;
    color: #FFF;
    line-height: 1.6;
    @include sm(){
        display: none;
    }
  }
  p{
    margin: 0;
    color: #fff;
    line-height: 2.4;
  }
  .wrap{
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    padding: 70px 0 80px;
    margin: 0 auto; 
    @include sm(){
      flex-flow: column wrap;
      align-content: center;
      padding-top: 0;
      .left{
        text-align: center;
        .line{
          display: none;
        }
        .img{
          display: none;
        }
      }
      .right{
        display: none;
      }
    }
  }
  .left{
    text-align: left;
    .img{
      margin-top: 10px;
      width: 154px;
      height: 154px;
      img{
        width: 100%;
        height: 100%;
      }
    }
  }
  .right{
    list-style-type: circle;
    li{
      text-align: left;
      line-height: 3.4;
      color: #fff;
    }
  }
}

footer{
  width: 100%;
  min-width: $minWidth;
  overflow: hidden;
  color: #fff;
  height: 60px;
  line-height: 60px;
  text-align: center;
  background: #000;
}
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: hsla(0, 100%, 0%, 0);
  transition: backgroundColor .3s ease-in-out;
  z-index: 99;
  &.active{
    display: block;
    background-color: hsla(0, 100%, 0%, 0.3);
  }
}
.order{
  z-index: -1;
  position: fixed;
  top: 20%;
  left: 0;
  right: 0;
  bottom: 0;
  max-width: 640px;
  height: 440px;
  background: #FFFFFF;
  overflow: hidden;
  box-shadow: 0 5px 15px rgba(0,0,0,.5);
  border-radius: 2px;
  margin: 0 auto;
  opacity: 0;
  transform: translateY(-100%);
  transition: all .3s ease-in-out;
  
  &.active{
    z-index: 100;
    opacity: 1;
    transform: translateY(0);
  }
  .max{
    display: block;
    overflow: hidden;
  }
  .sm{
    display: none;
    text-align: center;
  }
  @include sm(){
    margin: 0 20px;
    height: 360px;
    .max{
      display: none;
    }
    .sm{
      display: block;
    }
  }
  .logo{
      width: 134px;
      height: 46px;
      margin: 60px auto;
      background-image: url(./img/logo2.png);
      background-repeat: no-repeat;
      background-position: 50%;
      background-size: contain;
      @include line(#ddd,140px,-170px);
  }
  .close{
    margin: 10px  20px  0 auto;
    font-size: 24px;
  }
  .wrap{
    margin-left: 360px;
    padding-top: 40px;
    &.en{
      margin-left: 350px;
      .title{
        font-size: 17px;
      }
    }
    .title{
      position: relative;
      font-size: 18px;
      color: #000;
      line-height: 1.6;
      margin: 0;
      &:before{
        position: absolute;
        content: "";
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background: #FFFFFF;
        border: 2px solid #84D7CF;
        top: 5px;
        left: -30px;

      }
    }
    .sub{
      color: #999;
      line-height: 1.6;
      margin: 0;
    }
  }
  .img{
    float: left;
    margin-left: 100px;
    width: 200px;
    height: 200px;
    img{
      width: 100%;
      height: 100%;
    }
  }
}
.become{
  @extend .order;
  box-sizing: border-box;
  width: 100%;
  max-width: 1200px;
  height: 580px;
  top: 10%;
  @include sm(){
    width: calc(100% - 40px);
    margin: 0 20px;
  }
  .logo{
    margin-bottom: 30px;
  }
  .inner{
    height: 430px;
    overflow-y: auto;
  }
  .body{
    text-align: center;
    display: flex;
    justify-content: space-around;
    .item{
      position: relative;
      text-align: center;
      width: 340px;
      margin: 50px 10px;
      padding: 30px 10px;
      background: #FFFFFF;
      border: 1px solid #E1E7F4;
      box-shadow: 0 0 6px 0 rgba(225,231,244,0.53);
      border-radius: 4px;
      i{
        display: inline-block;
        margin-top: 60px;
        margin-bottom: 20px;
        width: 48px;
        height: 48px;
        background-repeat: no-repeat;
        background-position: 50%;
      }
      &:nth-child(1) i{
        background-image: url(./img/email.png);
      }
      &:nth-child(2) i{
        background-image: url(./img/list.png);
      }
      &:nth-child(3) i{
        background-image: url(./img/report.png);
      }
      .step{
        position: absolute;
        left: 50%;
        margin-left: -30px;
        top: -30px;
        width: 60px;
        height: 60px;
        background: #4A90E2;
        border-radius: 50%;
        font-family: 'Times New Roman', Times, serif;
        font-weight: lighter;
        .inner{
          position: absolute;
          width: 50px;
          height: 50px;
          border-radius: 50%;
          left: 3px;
          top: 3px;
          border:2px solid #fff;
        }
        p{
          margin: 0;
          line-height: 1;
          font-weight: lighter;
          font-size: 12px;
          color: #fff;
        }
        .num{
          padding-top: 10px;
          font-size: 18px;
        }
      }
      .desc{
        margin: 0;
        line-height: 2;
        color: #2F2F2F;
      }
    }
    @include sm(){
      display: block;
      .item{
        display: block;
        box-sizing: border-box;
        margin: 50px auto;
        width: 260px;
      }
    }
  }
}